@charset "UTF-8";

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

/*ヘッダー＆トップ*/
header {
  background-color: rgba(255,255,255,0.50);
  position: fixed;
  width: 100%;
  height: 150px;
  
}

header h1 {
  width: 350px;
  font-size: 50px;
  text-align: center;
  display: inline-block;
}

a {
  text-decoration: none;
  color: white;
}

ul a:hover {
  font-size: 35px;
  color: darkgrey;
}

ul {
  width: 650px;
  display: inline-block;
  margin-left: 50px;
  margin-right: 30px;
}


li {
  list-style: none;
  width: 200px;
  font-size: 30px;
  display: inline-block;
}

#reserve:hover {
  background-color: tomato;
}

#reserve {
  width: 200px;
  font-size: 30px;
  color: black;
  background-color: sandybrown;
  text-align: center;
  display: inline-block;
  margin-left: 20px;
  
}

.top p {
  font-size: 25px;
  width: 100%;
  text-align: center;
  margin-top: 100px;
  line-height: 50px;
}

/*--------客室、アメニティ--------*/
h2 {
  text-align: center;
  font-size: 200%;
}

.room {
  display: flex;
  align-items: center;
}

.room img {
  width: 60%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.room p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-bottom: solid 1px gray;
  font-size: 30px;
}

.room:nth-of-type(1) {
  flex-direction: row;
}


.room:nth-of-type(2) {
  flex-direction: row-reverse;
}

.amenity {
  clear: both;
  background-color: rgba(221, 221, 221, 60);
  text-align: center;
  margin: 50px 0;
}

h2 {
  font-size: 160%;
}

/*---------レストラン----------*/

#restaurant {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#restaurant img{
    width: 40%;
    max-width: 300px;
}

.buffet p{
    border-bottom: solid 1px gray;
    margin-bottom: 70px;
    margin-left: 20%;
    margin-right: 20%;
}

/*---------予約フォーム----------*/
#booknow {
  background-color: #d7eeff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 50px 0px;
}



form input,
form textarea {
  background-color: darkgray;
  border: none;
}

form div {
  margin-top: 20px;
  margin-bottom: 15px;
}



form button {
  background-color: black;
  color: white;
  border: none;
  padding: 5px 15px;
}


.kozinzyoho {
  width: 60%;
  margin-bottom: 13px;
}

form textarea {
  width: 52%;
  height: 50px;
  vertical-align: top;
}


.yoyaku {
  width: 30px;
  margin: 5px;
  margin-bottom: 10px;
}

/*---------フッター---------*/
footer {
  margin-top:200px; 
  text-align: center;
  background-color: #f2e7ce;
  padding: 8px 0;
}

footer .footer {
  font-size: 1.2rem;
  font-weight: bold;
}

footer .address {
  line-height: 8px;
}

footer .copyright {
  margin-top: 50px;
  font-size: 0.8rem;
}


/*料金表*/
#rate{
  text-align: center;
  margin: 50px 0;
}

table{
  border-collapse: collapse;
  border: 2px solid;
  width: 500px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

th, td{
  border: 1px solid;
}
